* {
    color: white;
}
body {
    background-color: #121212;
    overflow-x: hidden;
    font-family: sans-serif;
}
.site-home {
    height: 100vh;
    overflow: hidden;
}
.site-title {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 25vh;
}

.sidebar {
    background-color: #343434;
    height: 100%;
    min-height: 100vh;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
}

p {
    text-align: justify;
}

pre {
    background-color: #123 !important;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.dashview {
    animation: fadein 0.3s ease;
}

.sidebar-links a,.linkable {
    color: #bfbfbf;
    padding: 5px 10px;
    transition: all 0.3s ease;
    text-decoration: none;
    position: relative;
}

.sidebar-links a:before,.linkable:before {
    content: "";
    border-left: 2px solid white;
    position: absolute;
    top: 0;
    left: 0;
    transition: height 0.3s ease;
}

.sidebar-links a:hover,.sidebar-links a.active,.linkable:hover,.linkable.active {
    padding-left: 20px;
    color: white;
}
.sidebar-links a:hover:before,.sidebar-links a.active:before,.linkable:hover:before,.linkable.active:before {
    height: 100%;
}

@keyframes fadein {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}