* {
    color: white;
}
body {
    background-color: #121212;
    overflow-x: hidden;
    font-family: sans-serif;
}
.site-home {
    height: 100vh;
    overflow: hidden;
}
.site-title {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 45vh;
}

.sidebar {
    background-color: #343434;
    height: 100%;
    min-height: 100vh;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
}

p {
    text-align: justify;
}

pre {
    background-color: #123 !important;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.dashview {
    animation: fadein 0.3s ease;
}

@keyframes fadein {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}